In [1]:
!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#Check this site for the latest download link https://www.apache.org/dyn/closer.lua/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!tar xf spark-3.2.1-bin-hadoop3.2.tgz
!pip install -q findspark
!pip install pyspark
!pip install py4j

import os
import sys
# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"


import findspark
findspark.init()
findspark.find()

import pyspark

from pyspark.sql import DataFrame, SparkSession
from typing import List
import pyspark.sql.types as T
import pyspark.sql.functions as F

spark= SparkSession \
       .builder \
       .appName("Our First Spark Example") \
       .getOrCreate()

spark

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Hit:2 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:3 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Get:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Hit:6 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Hit:7 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Hit:10 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Get:11 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [814 kB]
Get:12 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,077 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,369 kB]
Get:14 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [2,251 kB]
Get:15 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [1,748 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [2,333 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [2,032 kB]
Fetched 11.9 MB in 4s (3,045 kB/s)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
45 packages can be upgraded. Run 'apt list --upgradable' to see them.
tar: spark-3.2.1-bin-hadoop3.2.tgz: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now
Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=f03e3beaa684b550f9e52047e096a3a8b79367ab44e461ca64221236824465d9
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)

In [2]:
from google.colab import output
output.serve_kernel_port_as_window(4040, path='/jobs/index.html')

In [ ]:
# Create a Dataframe

In [6]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField,StringType,IntegerType

In [8]:
spark = SparkSession.builder \
    .appName("Spark Joins Example") \
    .getOrCreate()

schema1=StructType([StructField("name",StringType(),True),
                    StructField("age",IntegerType(),True),
                    StructField("department", StringType(), True)


                  ] )

In [9]:
schema2=StructType([StructField("name",StringType(),True),
                    StructField("city",StringType(),True)

])

In [10]:
#data for Table

In [21]:
data1=[("ansu",32,"Marketing"),
       ("Abhi",30,"Salse"),
       ("riya",31,"HR")]

data2=[("Abhi","mumbai"),
       ("riya","pune")


]

In [22]:
# Create DataFrame 1
df1 = spark.createDataFrame(data1, schema1)

# Create DataFrame 2
df2 = spark.createDataFrame(data2, schema2)

df1.show()
df2.show()

+----+---+----------+
|name|age|department|
+----+---+----------+
|ansu| 32| Marketing|
|Abhi| 30|     Salse|
|riya| 31|        HR|
+----+---+----------+

+----+------+
|name|  city|
+----+------+
|Abhi|mumbai|
|riya|  pune|
+----+------+

In [13]:
#Left joins

In [27]:
a = df1.join(df2 , on=["name"], how = "left")
a.show()

a = df1.join(df2 , df1.name == df2.name, how = "left")
a.show()

+----+---+----------+------+
|name|age|department|  city|
+----+---+----------+------+
|ansu| 32| Marketing|  NULL|
|riya| 31|        HR|  pune|
|Abhi| 30|     Salse|mumbai|
+----+---+----------+------+

+----+---+----------+----+------+
|name|age|department|name|  city|
+----+---+----------+----+------+
|ansu| 32| Marketing|NULL|  NULL|
|riya| 31|        HR|riya|  pune|
|Abhi| 30|     Salse|Abhi|mumbai|
+----+---+----------+----+------+

In [24]:
df1.createOrReplaceTempView("table1")
df2.createOrReplaceTempView("table2")

In [25]:
b=spark.sql("select * from table1 left join table2 on table1.name=table2.name")
b.show()

+----+---+----------+----+------+
|name|age|department|name|  city|
+----+---+----------+----+------+
|ansu| 32| Marketing|NULL|  NULL|
|riya| 31|        HR|riya|  pune|
|Abhi| 30|     Salse|Abhi|mumbai|
+----+---+----------+----+------+

In [28]:
a=df1.join(df2,df1.name==df2.name,how="right")
a.show()

+----+---+----------+----+------+
|name|age|department|name|  city|
+----+---+----------+----+------+
|Abhi| 30|     Salse|Abhi|mumbai|
|riya| 31|        HR|riya|  pune|
+----+---+----------+----+------+

In [29]:
a=df1.join(df2,df1.name==df2.name,how="inner")
a.show()

+----+---+----------+----+------+
|name|age|department|name|  city|
+----+---+----------+----+------+
|Abhi| 30|     Salse|Abhi|mumbai|
|riya| 31|        HR|riya|  pune|
+----+---+----------+----+------+

In [30]:
a = df1.join(df2 , df1.name == df2.name, how = "outer")
a.show()

+----+---+----------+----+------+
|name|age|department|name|  city|
+----+---+----------+----+------+
|Abhi| 30|     Salse|Abhi|mumbai|
|ansu| 32| Marketing|NULL|  NULL|
|riya| 31|        HR|riya|  pune|
+----+---+----------+----+------+

In [31]:
a = df1.join(df2 , df1.name == df2.name, how = "cross")
a.show()

+----+---+----------+----+------+
|name|age|department|name|  city|
+----+---+----------+----+------+
|Abhi| 30|     Salse|Abhi|mumbai|
|riya| 31|        HR|riya|  pune|
+----+---+----------+----+------+

In [32]:
a = df1.join(df2 , df1.name == df2.name, how = "left_semi")
a.show()

+----+---+----------+
|name|age|department|
+----+---+----------+
|Abhi| 30|     Salse|
|riya| 31|        HR|
+----+---+----------+

In [33]:
a = df1.join(df2 , df1.name == df2.name, how = "left")
a.show()

+----+---+----------+----+------+
|name|age|department|name|  city|
+----+---+----------+----+------+
|ansu| 32| Marketing|NULL|  NULL|
|riya| 31|        HR|riya|  pune|
|Abhi| 30|     Salse|Abhi|mumbai|
+----+---+----------+----+------+

In [34]:
a = df1.join(df2 , df1.name == df2.name, how = "left_anti")
a.show()

+----+---+----------+
|name|age|department|
+----+---+----------+
|ansu| 32| Marketing|
+----+---+----------+

In [35]:
df1.show()

df2.show()

+----+---+----------+
|name|age|department|
+----+---+----------+
|ansu| 32| Marketing|
|Abhi| 30|     Salse|
|riya| 31|        HR|
+----+---+----------+

+----+------+
|name|  city|
+----+------+
|Abhi|mumbai|
|riya|  pune|
+----+------+

In [36]:
df1 = df1.orderBy(df1.department) # Show output in Ascending Order

In [39]:
df1.collect()
df1.show()

+----+---+----------+
|name|age|department|
+----+---+----------+
|riya| 31|        HR|
|ansu| 32| Marketing|
|Abhi| 30|     Salse|
+----+---+----------+